<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(CF_BUNDLE_DEVELOPMENT_REGION)</string>
	<key>CFBundleExecutable</key>
	<string>$(CF_BUNDLE_EXECUTABLE_AUTH_KIT)</string>
	<key>CFBundleIdentifier</key>
	<string>$(CF_BUNDLE_IDENTIFIER_AUTH_KIT)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>$(CF_BUNDLE_INFO_DICTIONARY_VERSION)</string>
	<key>CFBundleName</key>
	<string>$(CF_BUNDLE_NAME_AUTH_KIT)</string>
	<key>CFBundlePackageType</key>
	<string>$(CF_BUNDLE_PACKAGE_TYPE_AUTH_KIT)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string></string>
</dict>
</plist>
