<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>id.kompas.app.auth.xauthcommunicationskit.test</string>
	<key>CFBundleDisplayName</key>
	<string>XAuthCommunicationsKit_Tests</string>
	<key>CFBundleName</key>
	<string>XAuthCommunicationsKit_Tests</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(NS_CAMERA_USAGE_DESCRIPTION)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(NS_LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(NS_MICROPHONE_USAGE_DESCRIPTION)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(NS_PHOTO_LIBRARY_USAGE_DESCRIPTION)</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>$(NS_USER_TRACKING_USAGE_DESCRIPTION)</string>
	<key>UIAppFonts</key>
	<array>
		<string>PTSans-Bold.ttf</string>
		<string>PTSans-BoldItalic.ttf</string>
		<string>PTSans-Italic.ttf</string>
		<string>PTSans-Regular.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-BoldItalic.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>Lora-Medium.ttf</string>
		<string>Lora-MediumItalic.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>Lora-SemiBold.ttf</string>
		<string>Lora-SemiBoldItalic.ttf</string>
		<string>PlayFairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
		<string>Hind-Bold.ttf</string>
		<string>Hind-Light.ttf</string>
		<string>Hind-Medium.ttf</string>
		<string>Hind-Regular.ttf</string>
		<string>Hind-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<true/>
	<key>GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED</key>
	<true/>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<true/>
	<key>GOOGLE_SERVICE_INFO_PLIST_NAME</key>
	<string>$(GOOGLE_SERVICE_INFO_PLIST)</string>
</dict>
</plist>

