CF_BUNDLE_DEVELOPMENT_REGION = en
cek lagi disini hadeuh masih ada yang salah
CF_BUNDLE_EXECUTABLE = XAuth 4 di bawah ini kayanya nggak ke pake
CF_BUNDLE_EXECUTABLE_AUTH_KIT = XAuthKit
CF_BUNDLE_EXECUTABLE_AUTH_UI_KIT = XAuthUIKit
CF_BUNDLE_EXECUTABLE_AUTH_COMMUNICATIONS_KIT = XAuthCommunicationsKit
CF_BUNDLE_EXECUTABLE_AUTH_COMMUNICATIONS_KIT_TEST = XAuthCommunicationsKit_Tests

masih ada yang _core nya, harusnya di ganti
CF_BUNDLE_IDENTIFIER = id.kompas.app.auth
CF_BUNDLE_IDENTIFIER_AUTH_KIT_CORE = id.kompas.app.auth.xauthkit
CF_BUNDLE_IDENTIFIER_UI_CORE = id.kompas.app.auth.xauthuikit
CF_BUNDLE_IDENTIFIER_COMMUNICATION_CORE = id.kompas.app.auth.xauthcommunicationskit
CF_BUNDLE_IDENTIFIER_COMMUNICATION_CORE_TEST = id.kompas.app.auth.xauthcommunicationskit.test

CF_BUNDLE_INFO_DICTIONARY_VERSION = 6.0

CF_BUNDLE_NAME = XAuth
CF_BUNDLE_PACKAGE_TYPE = APPL

CF_BUNDLE_NAME_AUTH_KIT = XAuthKit
CF_BUNDLE_PACKAGE_TYPE_AUTH_KIT = FMWK

CF_BUNDLE_NAME_AUTH_UI_KIT = XAuthUIKit
CF_BUNDLE_PACKAGE_TYPE_AUTH_UI_KIT = FMWK

CF_BUNDLE_NAME_AUTH_COMMUNICATIONS_KIT = XAuthCommunicationsKit
CF_BUNDLE_PACKAGE_TYPE_AUTH_COMMUNICATIONS_KIT = FMWK
CF_BUNDLE_PACKAGE_TYPE_AUTH_COMMUNICATIONS_KIT_TEST = BNDL

CF_BUNDLE_SHORT_VERSION_STRING = 1.0.1
CF_BUNDLE_VERSION = 6
PRODUCT_CATEGORY = public.app-category.news

APP_STORE_CONNECT_TEAM_ID=8668801
DEVELOPER_PORTAL_TEAM_ID=ZX8X7SH43D

GOOGLE_SERVICE_INFO_PLIST=GoogleService-Info
GOOGLE_SERVICE_INFO_PLIST_DIR = ${SRCROOT}/App/Configs/GoogleService-Info.plist

NS_CAMERA_USAGE_DESCRIPTION = We need access to your camera to take photos.
NS_LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION = To provide you with the most relevant news and information, we may collect your location data when you use our application. We may use this information to customize the content displayed on the app to your local area or city.
NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION = To provide you with the most relevant news and information, we may collect your location data when you use our application. We may use this information to customize the content displayed on the app to your local area or city.
NS_MICROPHONE_USAGE_DESCRIPTION = Need microphone access for uploading videos
NS_PHOTO_LIBRARY_USAGE_DESCRIPTION = Need photo library access for uploading images
NS_USER_TRACKING_USAGE_DESCRIPTION = Your data will be used to deliver personalized ads to you.













