DEVELOPMENT_LANGUAGE = en
EXECUTABLE_NAME = XAuth
EXECUTABLE_NAME = XAuthKit
EXECUTABLE_NAME = XAuthUIKit
EXECUTABLE_NAME = XAuthCommunicationsKit
EXECUTABLE_NAME = XAuthCommunicationsKit_Tests

PRODUCT_BUNDLE_IDENTIFIER = id.kompas.app.auth
PRODUCT_BUNDLE_IDENTIFIER = id.kompas.app.auth.xauthkit
PRODUCT_BUNDLE_IDENTIFIER = id.kompas.app.auth.xauthuikit
PRODUCT_BUNDLE_IDENTIFIER = id.kompas.app.auth.xauthcommunicationskit
PRODUCT_BUNDLE_IDENTIFIER = id.kompas.app.auth.xauthcommunicationskit.test

PRODUCT_NAME = XAuth
PRODUCT_BUNDLE_PACKAGE_TYPE = APPL

PRODUCT_NAME = XAuthKit
PRODUCT_BUNDLE_PACKAGE_TYPE = FMWK

PRODUCT_NAME = XAuthUIKit
PRODUCT_BUNDLE_PACKAGE_TYPE = FMWK

PRODUCT_NAME = XAuthCommunicationsKit
PRODUCT_BUNDLE_PACKAGE_TYPE = FMWK

PRODUCT_NAME = XAuthCommunicationsKit_Tests
PRODUCT_BUNDLE_PACKAGE_TYPE = BNDL

MARKETING_VERSION = 1.0.2
CURRENT_PROJECT_VERSION = 6
PRODUCT_CATEGORY = public.app-category.news

APP_STORE_CONNECT_TEAM_ID=8668801
DEVELOPER_PORTAL_TEAM_ID=ZX8X7SH43D

GOOGLE_SERVICE_INFO_PLIST=GoogleService-Info
GOOGLE_SERVICE_INFO_PLIST_DIR = ${SRCROOT}/App/Configs/GoogleService-Info.plist

NS_CAMERA_USAGE_DESCRIPTION = We need access to your camera to take photos.
NS_LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION = To provide you with the most relevant news and information, we may collect your location data when you use our application We may use this information to customize the content displayed on the app to your local area or city.
NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION = To provide you with the most relevant news and information, we may collect your location data when you use our application We may use this information to customize the content displayed on the app to your local area or city.
NS_MICROPHONE_USAGE_DESCRIPTION = Need microphone access for uploading videos
NS_PHOTO_LIBRARY_USAGE_DESCRIPTION = Need photo library access for uploading images
NS_USER_TRACKING_USAGE_DESCRIPTION = Your data will be used to deliver personalized ads to you.













