
//// Common Configuration
#include "App/Configs/xcconfig/Common.xcconfig"

MYAPP_APP_NAME = MyApp
MYAPP_APP_ICON = AppIcon
MYAPP_BUNDLE_IDENTIFIER = id.kompas.app.auth
MYAPP_TEAM_ID = MyClientTeamIdHere

MYAPP_CODE_SIGN_ENTITLEMENTS = App/Configs/entitlements/production.entitlements

//// Firebase Configuration

GOOGLESERVICE_PLIST_NAME = GoogleServiceAppStore-Info
GOOGLESERVICE_INFO_PLIST_DIR = ${SRCROOT}/App/Configs/GoogleServiceAppStore-Info.plist

