#include "Staging.xcconfig"
#include "Pods/Target Support Files/Pods-XAuth/Pods-XAuth.staging release.xcconfig"

APP_DISPLAY_NAME = Auth_SR
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon_KAuthSR

// 
// PENGATURAN KHUSUS RELEASE ("ENCRYPT")
// 
// Optimasi untuk kecepatan (ini yang Anda maksud "encrypt")
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Flags: Hanya STAGING (karena ini Release, kita gak butuh flag DEBUG)
OTHER_SWIFT_FLAGS = $(inherited) -DSTAGING

// Optimasi level tinggi, mengompilasi semua file Swift bersamaan
SWIFT_COMPILATION_MODE = wholemodule
